body{
    font-family: 'Caveat Brush', cursive;
}
.loading_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    height: 100vh;
    width: 100vw;
    color: #34B4E3;
    position: fixed;
    z-index: 1000;
}
.loading_page span{
    display: inline-block;
    border-bottom: 5px solid #34B4E3;
}


.logo  {
    color: #34B4E3;
    font-size: 5rem;
}

.btn-game{
    background: #34B4E3;
    color: white;
    font-size: 2rem;
    box-shadow: 0px 0px 10px #34B4E3;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header{
    height: 20vh;
}
section{
    width: 20vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
